<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{shared/layout}">

<head th:replace="shared/layout :: head">
	<meta>
	<title>Usuarios - Atlantis</title>

</head>

<body>

	<div class="main-panel" layout:fragment="page-content">
		<div class="content">
			<div class="page-inner">
				<div class="page-header">
					<h4 class="page-title">Usuarios</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="/">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Adm de Usuarios</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="">Usuarios</a>
						</li>
					</ul>
				</div>
				<section class="p-3">
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
								Agregar Usuario
							</button>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<table class="table table-hstriped table-hover mt-3 text-center table-bordered">
								<thead>
									<tr>
										<th>#</th>
										<th>Rut</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th>Correo</th>
										<th>Perfil</th>
										<th>Rol</th>
										<th>Actual Conexión</th>
										<th>Ultima Conexión</th>
										<th>Acciones</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="usuario : ${usuarios}">
										<td th:text="${usuario.id}">1</td>
										<td th:text="${usuario.rut}">16921369-0</td>
										<td th:text="${usuario.nombre}">Andrés</td>
										<td th:text="${usuario.apellido}">Álvarez</td>
										<td th:text="${usuario.correo}">aalvarez@travel.cl</td>
										<td></td>
										<td>Administrador</td>
										<td></td>
										<td></td>
										<td>
											<button type="button" class="btn btn-success" data-toggle="modal"
												th:data-target="'#modalEditarUser' + ${usuario.id}">Editar</button>
											<a type="button" class="btn btn-danger"
												th:href="@{/usuarios/{id}(id=${usuario.id})}">Eliminar</a>
										</td>

										<!-- Editar User Modal -->
										<div class="modal fade" th:id="'modalEditarUser' + ${usuario.id}" tabindex="-1"
											role="dialog" aria-labelledby="" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="">Editar Usuario</h5>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>

													<div class="modal-body">
														<form th:action="@{'/usuarios/' + ${usuario.id}}" th:object="${usuario}" 
														method="post" th:id="'formEditarUser' + ${usuario.id}">
															<div class="form-group">
																<label for="rut">Rut</label>
																<input type="text" name="rut" class="form-control"
																	th:value="${usuario.rut}" placeholder="Ingrese rut">
															</div>
															<div class="form-group">
																<label for="nombre">Nombre</label>
																<input type="text" name="nombre" class="form-control"
																	th:value="${usuario.nombre}"
																	placeholder="Ingrese nombre">
															</div>
															<div class="form-group">
																<label for="apellido">Apellido</label>
																<input type="text" name="apellido" class="form-control"
																	th:value="${usuario.apellido}"
																	placeholder="Ingrese apellido">
															</div>
															<div class="form-group">
																<label for="correo">Correo</label>
																<input type="email" name="correo" class="form-control"
																	th:value="${usuario.correo}"
																	placeholder="Ingrese correo">
															</div>
															<div class="form-check">
																<input type="checkbox" class="form-check-input"
																	id="exampleCheckEdit">
															</div>
														</form>
													</div>

													<div class="modal-footer">
														<button type="submit" class="btn btn-primary"
															th:form="'formEditarUser' + ${usuario.id}">Guardar</button>
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Cerrar</button>
													</div>
												</div>
											</div>
										</div>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<!-- Modal -->
				<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="l">Agregar Usuario</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="userForm" th:action="@{/usuarios}" th:object="${usuario}" method="post">
									<div class="form-group">
										<label for="rut">Rut</label>
										<input type="text" name="rut" th:text="${rut}" class="form-control"
											placeholder="Ingrese Rut">
									</div>
									<div class="form-group">
										<label for="nombre">Nombre</label>
										<input type="text" name="nombre" th:text="${nombre}" class="form-control"
											placeholder="Ingrese Nombre">
									</div>
									<div class="form-group">
										<label for="apellido">Apellido</label>
										<input type="text" name="apellido" th:text="${apellido}" class="form-control"
											placeholder="Ingrese Apellido">
									</div>
									<div class="form-group">
										<label for="correo">Correo</label>
										<input type="email" name="correo" th:text="${correo}" class="form-control"
											aria-describedby="emailHelp" placeholder="Ingrese Correo">
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="exampleCheck1">
									</div>
								</form>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" form="userForm">Guardar</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
</body>

</html>